.landing{
    background-color: aqua;
    background-image: url('../../../public/images/landing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1rem;
}

.landing-topic{
    text-align: center;

}

.landing-topic-text{
    font-size: 4rem;
    text-shadow: 3px 1px 0px orangered;
    backdrop-filter: blur(1.5px);
}

.landing-description{
    text-align: center;

}

.landing-description-text{

    font-size: 1.3rem;
    backdrop-filter: blur(1.5px);
}