.mainFood-top{
    background: url('../../public/images/mainfood.jpeg');
    background-position: center;
}

.mainFood-top-overlay{
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
}

.mainFood-top-imageContainer{
    max-width: 600px;
    min-width: 200px;
}

.mainFood-top-img{
    width: 100%;
}

.mainFood-main{
    margin: 1rem;
}

.mainFood-main-title{
    direction: rtl;
    font-size: 30px;
    margin: 1rem 0;
    color: #6200EA;
    border: solid 1px white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px 2px white;
}

.mainFood-main-description{
    direction: rtl;
    font-size: 20px;
    text-align: justify;
    /* user-select: none; */
    border: solid 1px white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 6px 2px white;
}


.mainFood-main-foodCount{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    border: solid 1px white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 6px 2px white;
}

.mainFood-main-foodCount-left{
    display: flex;
    gap: 0.5rem;
}

.mainFood-main-foodCount-left-minusBtn{
    font-size: 40px;
    font-weight: bold;
    transition: all 400ms ease;
    color: red;
    cursor: pointer;
}

.mainFood-main-foodCount-left-minusBtn:hover{
    color: #B71C1C;
}

.mainFood-main-foodCount-left-count{
    font-size: 40px;
    user-select: none;
}

.mainFood-main-foodCount-left-addBtn{
    font-size: 40px;
    transition: all 400ms ease;
    color: green;
    cursor: pointer;
}

.mainFood-main-foodCount-left-addBtn:hover{
    color: #1B5E20;
}

.mainFood-main-foodCount-right{
    user-select: none;
    font-size: 40px;
    direction: rtl;
    color: #6200EA;
}

.mainFood-main-orderBtn-container{
    display: flex;
    justify-content: center;
}

.mainFood-main-orderBtn{
    font-size: 25px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4FC3F7;
    cursor: pointer;
    transition: all 400ms ease;
}

.mainFood-main-orderBtn:hover{
    background-color: #03A9F4;
}

/* start form styles*/
.mainfood-form-container{
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* display: flex; */
    display: none;
    justify-content: center;
}

.formIsOpened{
    display: flex;
}

.mainfood-form{
    width: 350px;
    height: 130px;
    background-color: #E0E0E0;
    margin-top: 6rem;
    border-radius: 0.5rem;
}

.mainfood-form-content{
    padding: 1rem;
}

.mainfood-form-content-text{
    text-align: center;
    font-size: 1.5rem;
}

.mainfood-form-content-details{
    display: flex;
    justify-content:space-evenly;
    margin: 0.5rem 0;
}

.mainfood-form-content-details-foodName{
    display: flex;
    align-items: center;
}

.mainfood-form-content-details-foodName-title{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #006064;

}

.mainfood-form-content-details-foodName-text{
    font-size: 1.2rem;
}

.mainfood-form-content-details-foodCount{
    display: flex;
    align-items: center;
}

.mainfood-form-content-details-foodCount-title{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #006064;
}

.mainfood-form-content-details-foodCount-text{
    font-size: 1.2rem;
}

.mainfood-form-content-btn-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.mainfood-form-content-confrimBtn{
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #00E676;
    transition: all 400ms ease;
}

.mainfood-form-content-confrimBtn:hover{
    background-color: #00C853;
}

.mainfood-form-content-cancelBtn{
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #FF1744;
    transition: all 400ms ease;
}

.mainfood-form-content-cancelBtn:hover{
    background-color:#D50000 ;
}

/* finish form styles*/

.message{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    display: none;
    justify-content: center;
    margin-top: 2rem;
    z-index: 100;
}

.messageShow{
    display: flex;
}

.message-content{
    background-color: #00C853;
    padding: 1rem;
    border-radius: 0.5rem;
}

.message-text{
    font-size: 1.3rem;
}