.footer{
    background-color: #990033;
    padding: 1rem;
}

.footer-content-top{
    display: flex;
    gap: 1rem;
}

.footer-content-top-left-text{
    text-align: justify;
    direction: rtl;
}

.footer-content-top-right-text{
    text-align: justify;
    direction: rtl;
}