.box{
    display: block;
    width: 200px;
    /* min-width: 200px; */
    box-shadow: 0px 0px 3px 1.5px gray;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 400ms ease;
}

.box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 3px 3px 1.5px gray;
}

.box-top{
    width: 100%;
    height: 200px;
    border: solid 1px black;

}

.box-top-img{
    width: 100%;
    height: 100%;

}

.box-bottom{
    /* background-color: blueviolet; */
    background-color: #E8F5E9;
    padding:0.2rem 0.5rem;
}

.box-bottom-foodName{
    display: flex;
    justify-content: space-between;
}

.box-bottom-foodName-titleText{
    color: orangered;
}

.box-bottom-foodName-nameText{
    color: green;
}

.box-bottom-price-titleText{
    color: orangered;
}

.box-bottom-price-priceText{
    color: green;
    direction: rtl;
}

.box-bottom-price{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:460px){
    .box{
        width: 260px;
    }
    .box-top{
        height: 260px;
    }

}