.slider{
    margin-top: 1rem;
    margin: 1rem;
}

.slider-title{
    direction: rtl;
    font-size: 2rem;
    font-weight: bold;
}

.slider-content{
    background-color: blanchedalmond;
    padding-top: 1rem;
    padding-left: 1rem;


}

.slide{

}
/* .swiper{
    display: flex;
    justify-content: center;
} */